.header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px #f0f1f2;
  background: #fff;
}
.header-dark {
  background: var(--ant-layout-light-sider-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
